<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="dataDrivenTesting.Jobs_API_GETRQ" />
			<class name="dataDrivenTesting.LMS_API_POSTRQ" />
			<class name="dataDrivenTesting.Jobs_API_PUTRQ" />
			<class name="dataDrivenTesting.Jobs_API_DeleteRQ" />

			<class name="dataDrivenTesting.LMS_API_GETRQ" />
			<class name="dataDrivenTesting.Jobs_API_POSTRQ" />
			<class name="dataDrivenTesting.LMS_API_PUTRQ" />
			<class name="dataDrivenTesting.LMS_API_DeleteRQ" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
